---
const personalImageAlt = "Sergi Sagrera";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 dark:[&>p>strong]:text-red-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Construyo sitios web completos, desde el diseño visual (Front-end) hasta la lógica interna (Back-end), utilizando tecnologías como <strong>PHP, Laravel, Astro, Javascript y SQL</strong>.
    </p>

    <p>
      Me especializo en el desarrollo de soluciones a medida y en la optimización de tiendas online. Tengo una sólida experiencia con plataformas como <strong>PrestaShop</strong> y <strong>WordPress</strong>, donde he creado proyectos que no solo funcionan, sino que también generan resultados.
    </p>

    <p>
      Además, tengo un profundo conocimiento en la integración y gestión de herramientas de marketing digital como <strong>Google Analytics, Tag Manager y Google Ads</strong>, asegurando que cada proyecto web esté preparado para el análisis de datos y la optimización de campañas.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>