---
---
<section id="experience" class="sec">
  <div class="wrap">
    <div class="seclabel reveal"><span data-i18n="experience.label">Experiencia</span></div>
    <h2 class="h2 reveal" data-i18n="experience.heading" style="margin-bottom:54px">Trayectoria</h2>
    <div class="xp-list" id="timeline"></div>
  </div>
</section>
