---
const personalImageAlt = "Sergi Sagrera";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="flex">
  <div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <!-- <a
      href="https://linkedin.com/in/sergi-sagrera-madrona-144b86184/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Mira mi Linkedin</Badge>
    </a> -->
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Sergi Sagrera Madrona
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-red-200 [&>strong]:text-red-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      +5 años de experiencia. <strong>Full-stack developer</strong> de Barcelona.
      Especializado en el desarrollo de aplicaciones web.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:hola@sergisagrera.com">
        <MailIcon class="size-4" />
        Contáctame
      </SocialPill>
      <SocialPill
        href="https://linkedin.com/in/sergi-sagrera-madrona-144b86184/"
      >
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
  <img
    class="rounded-full shadow-lg w-fit hidden lg:block"
    src="/me.webp"
    alt={personalImageAlt}
    style="width: 250px;"
  />
</div>
