---
---
<section id="projects" class="sec">
  <div class="wrap">
    <div class="seclabel reveal"><span data-i18n="projects.label">Proyectos</span></div>
    <h2 class="h2 reveal" data-i18n="projects.heading" style="margin-bottom:46px">Trabajo seleccionado</h2>
    <div class="proj" id="projects-list"></div>
  </div>
</section>
