---
---
<section id="stack" class="sec">
  <div class="wrap">
    <div class="seclabel reveal"><span data-i18n="stack.label">Stack</span></div>
    <h2 class="h2 reveal" data-i18n="stack.heading" style="margin-bottom:18px">Tecnologías</h2>
    <p class="stack-note reveal" data-d="1" data-i18n="stack.note">Herramientas con las que trabajo cada día.</p>
    <div class="stack-groups" id="stack-groups"></div>
  </div>
</section>
